<h2>Адмін панель</h2>

<div class="list-group">

    <a class="list-group-item list-group-item-action"
       href="/AdminFood/Index">
        🍕 Товари
    </a>

    <a class="list-group-item list-group-item-action"
       href="/AdminOrder/Index">
        📦 Замовлення
    </a>

</div>