<h2>Адмін-панель</h2>

<a class="btn btn-primary"
   asp-controller="AdminFood"
   asp-action="Index">
    Товари
</a>

<a class="btn btn-warning"
   asp-controller="AdminOrder"
   asp-action="Index">
    Замовлення
</a>

<a class="btn btn-danger"
   asp-action="Logout">
    Вийти
</a>