
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
	@{
		foreach (Food food in Model.allFoods)
		{
		@Html.Partial("AllFood", food)	
		}
	}
	</div>


