@model PizzaCartViewModel
<div class="containr">
    @foreach (var el in Model.pizzaCart.listPizzaItems) 
    {
        <div class="alert alert-warning mt3">
            <b>Піца:</b> @el.food.name <br />
            <b>Ціна:</b> @el.food.price.ToString("c")
            </div>
    }
    <hr />
   <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатити замовлення</a> 
    </div>   