<div class="container mt-5">

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

    <h3>Дякуємо за замовлення 🍕</h3>

    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        На головну
    </a>

</div>