@model Pizza.Data.Models.Contact

<div class="container mt-4">

    <h2>Контакти</h2>

    <div class="row mt-3">

        <div class="col-md-6">

            <h5>📞 Телефон:</h5>
            <p>@Model.phone</p>
            <p>+38097049450</p>

            <h5>📧 Email:</h5>
            <p>@Model.email</p>
            <p> andreyzet08a@icloud.com</p>

            <h5>📍 Адреса:</h5>
            <p>@Model.address</p>

        </div>

        <div class="col-md-6">

    <h5>📍 Ми тут:</h5>

            <iframe
                width="100%"
                height="300"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps?q=50.461127122864674,30.428045254615412&z=17&output=embed">
            </iframe>

        </div>

        </div>

    </div>

</div>